doctype html
head
    meta(charset='UTF-8')
    title NARWHALS!
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='/javascripts/Narwhal.js')
body
    script(type='text/javascript').
        init();
